<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaBiblioteca.Properties.Settings.BIBLIOTECAConnectionString"
            connectionString="Data Source=MAR0625651W10-1;Initial Catalog=BIBLIOTECA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>